<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<description>OutroIdioma</description>
<display-name>OutroIdioma</display-name>

<servlet>
<servlet-name>usuario</servlet-name>
<servlet-class>web.usuario</servlet-class>
</servlet>

<servlet>
<servlet-name>home</servlet-name>
<servlet-class>web.home</servlet-class>
</servlet>

<servlet>
<servlet-name>palavra</servlet-name>
<servlet-class>web.palavra</servlet-class>
</servlet>

<servlet>
<servlet-name>sair</servlet-name>
<servlet-class>web.sair</servlet-class>
</servlet>

<servlet>
<servlet-name>lembrete</servlet-name>
<servlet-class>web.lembrete</servlet-class>
</servlet>

<servlet>
<servlet-name>escreve_lembrete</servlet-name>
<servlet-class>web.escreve_lembrete</servlet-class>
</servlet>

<servlet>
<servlet-name>deleta_lembrete</servlet-name>
<servlet-class>web.deleta_lembrete</servlet-class>
</servlet>

<servlet>
<servlet-name>ditado</servlet-name>
<servlet-class>web.ditado</servlet-class>
</servlet>

<servlet>
<servlet-name>deleta_ditado</servlet-name>
<servlet-class>web.deleta_ditado</servlet-class>
</servlet>

<servlet>
<servlet-name>escreve_ditado</servlet-name>
<servlet-class>web.escreve_ditado</servlet-class>
</servlet>

<servlet>
<servlet-name>escreve_expressao</servlet-name>
<servlet-class>web.escreve_expressao</servlet-class>
</servlet>
<servlet>
<servlet-name>deleta_expressao</servlet-name>
<servlet-class>web.deleta_expressao</servlet-class>
</servlet>
<servlet>
<servlet-name>expressao</servlet-name>
<servlet-class>web.expressao</servlet-class>
</servlet>

<servlet>
<servlet-name>escreve_regra</servlet-name>
<servlet-class>web.escreve_regra</servlet-class>
</servlet>
<servlet>
<servlet-name>deleta_regra</servlet-name>
<servlet-class>web.deleta_regra</servlet-class>
</servlet>
<servlet>
<servlet-name>regra</servlet-name>
<servlet-class>web.regra</servlet-class>
</servlet>

<servlet>
<servlet-name>configuracoes</servlet-name>
<servlet-class>web.configuracoes</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_idioma</servlet-name>
<servlet-class>web.cadastra_idioma</servlet-class>
</servlet>

<servlet>
<servlet-name>ativa_idioma</servlet-name>
<servlet-class>web.ativa_idioma</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_prova</servlet-name>
<servlet-class>web.cadastra_prova</servlet-class>
</servlet>

<servlet>
<servlet-name>deleta_prova</servlet-name>
<servlet-class>web.deleta_prova</servlet-class>
</servlet>

<servlet>
<servlet-name>prova</servlet-name>
<servlet-class>web.prova</servlet-class>
</servlet>

<servlet>
<servlet-name>atividade</servlet-name>
<servlet-class>web.atividade</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_atividade</servlet-name>
<servlet-class>web.cadastra_atividade</servlet-class>
</servlet>

<servlet>
<servlet-name>questao_descritiva</servlet-name>
<servlet-class>web.questao_descritiva</servlet-class>
</servlet>

<servlet>
<servlet-name>classegramatical</servlet-name>
<servlet-class>web.classegramatical</servlet-class>
</servlet>

<servlet>
<servlet-name>tempoverbal</servlet-name>
<servlet-class>web.tempoverbal</servlet-class>
</servlet>

<servlet>
<servlet-name>topicoespecial</servlet-name>
<servlet-class>web.topicoespecial</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_classe_gramatical</servlet-name>
<servlet-class>web.cadastra_classe_gramatical</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_tempo_verbal</servlet-name>
<servlet-class>web.cadastra_tempo_verbal</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_topico_especial</servlet-name>
<servlet-class>web.cadastra_topico_especial</servlet-class>
</servlet>

<servlet>
<servlet-name>index_deletar_classe_gramatical</servlet-name>
<servlet-class>web.index_deletar_classe_gramatical</servlet-class>
</servlet>

<servlet>
<servlet-name>deleta_classe_gramatical</servlet-name>
<servlet-class>web.deleta_classe_gramatical</servlet-class>
</servlet>

<servlet>
<servlet-name>index_deletar_tempo_verbal</servlet-name>
<servlet-class>web.index_deletar_tempo_verbal</servlet-class>
</servlet>

<servlet>
<servlet-name>deleta_tempo_verbal</servlet-name>
<servlet-class>web.deleta_tempo_verbal</servlet-class>
</servlet>

<servlet>
<servlet-name>index_deletar_topico_especial</servlet-name>
<servlet-class>web.index_deletar_topico_especial</servlet-class>
</servlet>

<servlet>
<servlet-name>deleta_topico_especial</servlet-name>
<servlet-class>web.deleta_topico_especial</servlet-class>
</servlet>
<servlet>
<servlet-name>cadastra_palavra</servlet-name>
<servlet-class>web.cadastra_palavra</servlet-class>
</servlet>
<servlet>
<servlet-name>verbo</servlet-name>
<servlet-class>web.verbo</servlet-class>
</servlet>

<servlet>
<servlet-name>listar_palavra</servlet-name>
<servlet-class>web.listar_palavra</servlet-class>
</servlet>

<servlet>
<servlet-name>listar_palavra_por_tipo</servlet-name>
<servlet-class>web.listar_palavra_por_tipo</servlet-class>
</servlet>
<servlet>
<servlet-name>cadastra_verbo</servlet-name>
<servlet-class>web.cadastra_verbo</servlet-class>
</servlet>

<servlet>
<servlet-name>cadastra_conjugacao</servlet-name>
<servlet-class>web.cadastra_conjugacao</servlet-class>
</servlet>

<servlet>
<servlet-name>listar_verbo</servlet-name>
<servlet-class>web.listar_verbo</servlet-class>
</servlet>

<servlet>
<servlet-name>listar_verbo_2</servlet-name>
<servlet-class>web.listar_verbo_2</servlet-class>
</servlet>





<servlet-mapping>
<servlet-name>usuario</servlet-name>
<url-pattern>/usuario</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>home</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>palavra</servlet-name>
<url-pattern>/palavra</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>sair</servlet-name>
<url-pattern>/sair</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>lembrete</servlet-name>
<url-pattern>/lembrete</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>escreve_lembrete</servlet-name>
<url-pattern>/escreve_lembrete</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>deleta_lembrete</servlet-name>
<url-pattern>/deleta_lembrete</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>deleta_ditado</servlet-name>
<url-pattern>/deleta_ditado</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ditado</servlet-name>
<url-pattern>/ditado</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>escreve_ditado</servlet-name>
<url-pattern>/escreve_ditado</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>escreve_expressao</servlet-name>
<url-pattern>/escreve_expressao</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>deleta_expressao</servlet-name>
<url-pattern>/deleta_expressao</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>expressao</servlet-name>
<url-pattern>/expressao</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>escreve_regra</servlet-name>
<url-pattern>/escreve_regra</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>deleta_regra</servlet-name>
<url-pattern>/deleta_regra</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>regra</servlet-name>
<url-pattern>/regra</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>configuracoes</servlet-name>
<url-pattern>/configuracoes</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_idioma</servlet-name>
<url-pattern>/cadastra_idioma</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ativa_idioma</servlet-name>
<url-pattern>/ativa_idioma</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_prova</servlet-name>
<url-pattern>/cadastra_prova</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>deleta_prova</servlet-name>
<url-pattern>/deleta_prova</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>prova</servlet-name>
<url-pattern>/prova</url-pattern>
</servlet-mapping>


<servlet-mapping>
<servlet-name>atividade</servlet-name>
<url-pattern>/atividade</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_atividade</servlet-name>
<url-pattern>/cadastra_atividade</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>questao_descritiva</servlet-name>
<url-pattern>/questao_descritiva</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>classegramatical</servlet-name>
<url-pattern>/classegramatical</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>tempoverbal</servlet-name>
<url-pattern>/tempoverbal</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>topicoespecial</servlet-name>
<url-pattern>/topicoespecial</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_classe_gramatical</servlet-name>
<url-pattern>/cadastra_classe_gramatical</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_tempo_verbal</servlet-name>
<url-pattern>/cadastra_tempo_verbal</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_topico_especial</servlet-name>
<url-pattern>/cadastra_topico_especial</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>index_deletar_classe_gramatical</servlet-name>
<url-pattern>/index_deletar_classe_gramatical</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>deleta_classe_gramatical</servlet-name>
<url-pattern>/deleta_classe_gramatical</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>index_deletar_tempo_verbal</servlet-name>
<url-pattern>/index_deletar_tempo_verbal</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>deleta_tempo_verbal</servlet-name>
<url-pattern>/deleta_tempo_verbal</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>index_deletar_topico_especial</servlet-name>
<url-pattern>/index_deletar_topico_especial</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>deleta_topico_especial</servlet-name>
<url-pattern>/deleta_topico_especial</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>cadastra_palavra</servlet-name>
<url-pattern>/cadastra_palavra</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>verbo</servlet-name>
<url-pattern>/verbo</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>listar_palavra</servlet-name>
<url-pattern>/listar_palavra</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>listar_palavra_por_tipo</servlet-name>
<url-pattern>/listar_palavra_por_tipo</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>cadastra_verbo</servlet-name>
<url-pattern>/cadastra_verbo</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>cadastra_conjugacao</servlet-name>
<url-pattern>/cadastra_conjugacao</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>listar_verbo</servlet-name>
<url-pattern>/listar_verbo</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>listar_verbo_2</servlet-name>
<url-pattern>/listar_verbo_2</url-pattern>
</servlet-mapping>
</web-app>


